{% extends 'base.html' %}

{% block content %}
<h1>Photo Gallery</h1>
<div class="row">
    {% for photo in photos %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.caption }}">
            <div class="card-body">
                <h5 class="card-title">{{ photo.caption }}</h5>
                <p class="card-text">{{ photo.description }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No photos available.</p>
    {% endfor %}
</div>
{% endblock %}